@font-face {
	font-family: 'MyriadPro';
	src: url('MyriadPro-Regular/MyriadPro-Regular.eot');
	src: local('☺'),
	url('MyriadPro-Regular/MyriadPro-Regular.otf') format('opentype'),
	url('MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
	url('MyriadPro-Regular/MyriadPro-Regular.svg') format('svg'),
	url('MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src: url('MyriadPro-Semibold/MyriadPro-Semibold.eot');
	src: local('☺'),
	url('MyriadPro-Semibold/MyriadPro-Semibold.otf') format('opentype'),
	url('MyriadPro-Semibold/MyriadPro-Semibold.woff') format('woff'),
	url('MyriadPro-Semibold/MyriadPro-Semibold.svg') format('svg'),
	url('MyriadPro-Semibold/MyriadPro-Semibold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}