/*
Chamvers Sans
*/
@font-face {
	font-family: 'ChambersSans';
	src: url('ChambersSansOffc/ChambersSansOffc.eot');
	src: local('☺'),
	url('ChambersSansOffc/ChambersSansOffc.woff') format('woff'),
	url('ChambersSansOffc/ChambersSansOffc.svg') format('svg'),
	url('ChambersSansOffc/ChambersSansOffc.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ChambersSans';
	src: url('ChambersSansOffc-Bold/ChambersSansOffc-Bold.eot');
	src: local('☺'),
	url('ChambersSansOffc-Bold/ChambersSansOffc-Bold.woff') format('woff'),
	url('ChambersSansOffc-Bold/ChambersSansOffc-Bold.svg') format('svg'),
	url('ChambersSansOffc-Bold/ChambersSansOffc-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ChambersSans';
	src: url('ChambersSansOffc-BoldItalic/ChambersSansOffc-BoldItalic.eot');
	src: local('☺'),
	url('ChambersSansOffc-BoldItalic/ChambersSansOffc-BoldItalic.woff') format('woff'),
	url('ChambersSansOffc-BoldItalic/ChambersSansOffc-BoldItalic.svg') format('svg'),
	url('ChambersSansOffc-BoldItalic/ChambersSansOffc-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'ChambersSans';
	src: url('ChambersSansOffc-Italic/ChambersSansOffc-Italic.eot');
	src: local('☺'),
	url('ChambersSansOffc-Italic/ChambersSansOffc-Italic.woff') format('woff'),
	url('ChambersSansOffc-Italic/ChambersSansOffc-Italic.svg') format('svg'),
	url('ChambersSansOffc-Italic/ChambersSansOffc-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}