@font-face {
	font-family: 'NeoSansCyr';
	src: url('NeoSansCyr-Regular/neosanscyr-regular.eot');
	src: local('☺'),
	url('NeoSansCyr-Regular/neosanscyr-regular.woff') format('woff'),
	url('NeoSansCyr-Regular/neosanscyr-regular.svg') format('svg'),
	url('NeoSansCyr-Regular/neosanscyr-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'NeoSansCyr';
	src: url('NeoSansCyr-Italic/neosanscyr-italic.eot');
	src: local('☺'),
	url('NeoSansCyr-Italic/neosanscyr-italic.woff') format('woff'),
	url('NeoSansCyr-Italic/neosanscyr-italic.svg') format('svg'),
	url('NeoSansCyr-Italic/neosanscyr-italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'NeoSansCyr';
	src: url('NeoSansCyr-Medium/neosanscyr-medium.eot');
	src: local('☺'),
	url('NeoSansCyr-Medium/neosanscyr-medium.woff') format('woff'),
	url('NeoSansCyr-Medium/neosanscyr-medium.svg') format('svg'),
	url('NeoSansCyr-Medium/neosanscyr-medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'NeoSansCyr';
	src: url('NeoSansCyr-Light/neosanscyr-light.eot');
	src: local('☺'),
	url('NeoSansCyr-Light/neosanscyr-light.woff') format('woff'),
	url('NeoSansCyr-Light/neosanscyr-light.svg') format('svg'),
	url('NeoSansCyr-Light/neosanscyr-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'NeoSansCyr';
	src: url('NeoSansCyr-LightItalic/neosanscyr-lightitalic.eot');
	src: local('☺'),
	url('NeoSansCyr-LightItalic/neosanscyr-lightitalic.woff') format('woff'),
	url('NeoSansCyr-LightItalic/neosanscyr-lightitalic.svg') format('svg'),
	url('NeoSansCyr-LightItalic/neosanscyr-lightitalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}