@font-face {
	font-family: 'Dosis';
	src: url('Dosis-ExtraLight/Dosis-ExtraLight.eot');
	src: local('☺'),
	url('Dosis-ExtraLight/Dosis-ExtraLight.otf') format('opentype'),
	url('Dosis-ExtraLight/Dosis-ExtraLight.woff') format('woff'),
	url('Dosis-ExtraLight/Dosis-ExtraLight.svg') format('svg'),
	url('Dosis-ExtraLight/Dosis-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Dosis';
	src: url('Dosis-Light/Dosis-Light.eot');
	src: local('☺'),
	url('Dosis-Light/Dosis-Light.otf') format('opentype'),
	url('Dosis-Light/Dosis-Light.woff') format('woff'),
	url('Dosis-Light/Dosis-Light.svg') format('svg'),
	url('Dosis-Light/Dosis-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis';
	src: url('Dosis-Regular/Dosis-Regular.eot');
	src: local('☺'),
	url('Dosis-Regular/Dosis-Regular.otf') format('opentype'),
	url('Dosis-Regular/Dosis-Regular.woff') format('woff'),
	url('Dosis-Regular/Dosis-Regular.svg') format('svg'),
	url('Dosis-Regular/Dosis-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis';
	src: url('Dosis-Medium/Dosis-Medium.eot');
	src: local('☺'),
	url('Dosis-Medium/Dosis-Medium.otf') format('opentype'),
	url('Dosis-Medium/Dosis-Medium.woff') format('woff'),
	url('Dosis-Medium/Dosis-Medium.svg') format('svg'),
	url('Dosis-Medium/Dosis-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis';
	src: url('Dosis-SemiBold/Dosis-SemiBold.eot');
	src: local('☺'),
	url('Dosis-SemiBold/Dosis-SemiBold.otf') format('opentype'),
	url('Dosis-SemiBold/Dosis-SemiBold.woff') format('woff'),
	url('Dosis-SemiBold/Dosis-SemiBold.svg') format('svg'),
	url('Dosis-SemiBold/Dosis-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis';
	src: url('Dosis-Bold/Dosis-Bold.eot');
	src: local('☺'),
	url('Dosis-Bold/Dosis-Bold.otf') format('opentype'),
	url('Dosis-Bold/Dosis-Bold.woff') format('woff'),
	url('Dosis-Bold/Dosis-Bold.svg') format('svg'),
	url('Dosis-Bold/Dosis-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Dosis';
	src: url('Dosis-ExtraBold/Dosis-ExtraBold.eot');
	src: local('☺'),
	url('Dosis-ExtraBold/Dosis-ExtraBold.otf') format('opentype'),
	url('Dosis-ExtraBold/Dosis-ExtraBold.woff') format('woff'),
	url('Dosis-ExtraBold/Dosis-ExtraBold.svg') format('svg'),
	url('Dosis-ExtraBold/Dosis-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
