@font-face {
	font-family: 'NeoSansPro';
	src: url('NeoSansPro-Regular/neosanspro-regular.eot');
	src: local('☺'),
	url('NeoSansPro-Regular/neosanspro-regular.woff') format('woff'),
	url('NeoSansPro-Regular/neosanspro-regular.svg') format('svg'),
	url('NeoSansPro-Regular/neosanspro-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'NeoSansPro';
	src: url('NeoSansPro-Italic/neosanspro-italic.eot');
	src: local('☺'),
	url('NeoSansPro-Italic/neosanspro-italic.woff') format('woff'),
	url('NeoSansPro-Italic/neosanspro-italic.svg') format('svg'),
	url('NeoSansPro-Italic/neosanspro-italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'NeoSansPro';
	src: url('NeoSansPro-Medium/neosanspro-medium.eot');
	src: local('☺'),
	url('NeoSansPro-Medium/neosanspro-medium.woff') format('woff'),
	url('NeoSansPro-Medium/neosanspro-medium.svg') format('svg'),
	url('NeoSansPro-Medium/neosanspro-medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'NeoSansPro';
	src: url('NeoSansPro-Light/neosanspro-light.eot');
	src: local('☺'),
	url('NeoSansPro-Light/neosanspro-light.woff') format('woff'),
	url('NeoSansPro-Light/neosanspro-light.svg') format('svg'),
	url('NeoSansPro-Light/neosanspro-light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'NeoSansPro';
	src: url('NeoSansPro-LightItalic/neosanspro-lightitalic.eot');
	src: local('☺'),
	url('NeoSansPro-LightItalic/neosanspro-lightitalic.woff') format('woff'),
	url('NeoSansPro-LightItalic/neosanspro-lightitalic.svg') format('svg'),
	url('NeoSansPro-LightItalic/neosanspro-lightitalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'NeoSansPro';
	src: url('NeoSansPro-Bold/neosanspro-bold.eot');
	src: local('☺'),
	url('NeoSansPro-Bold/neosanspro-bold.woff') format('woff'),
	url('NeoSansPro-Bold/neosanspro-bold.svg') format('svg'),
	url('NeoSansPro-Bold/neosanspro-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'NeoSansPro';
	src: url('NeoSansPro-BoldItalic/neosanspro-bolditalic.eot');
	src: local('☺'),
	url('NeoSansPro-BoldItalic/neosanspro-bolditalic.woff') format('woff'),
	url('NeoSansPro-BoldItalic/neosanspro-bolditalic.svg') format('svg'),
	url('NeoSansPro-BoldItalic/neosanspro-bolditalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'NeoSansPro';
	src: url('NeoSansPro-Ultra/neosanspro-ultra.eot');
	src: local('☺'),
	url('NeoSansPro-Ultra/neosanspro-ultra.woff') format('woff'),
	url('NeoSansPro-Ultra/neosanspro-ultra.svg') format('svg'),
	url('NeoSansPro-Ultra/neosanspro-ultra.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}