@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Regular/Roboto-Regular.eot');
	src: local('☺'),
	url('Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
	url('Roboto-Regular/Roboto-Regular.woff') format('woff'),
	url('Roboto-Regular/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Italic/Roboto-Italic.eot');
	src: local('☺'),
	url('Roboto-Italic/Roboto-Italic.ttf') format('truetype'),
	url('Roboto-Italic/Roboto-Italic.woff') format('woff'),
	url('Roboto-Italic/Roboto-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Medium/Roboto-Medium.eot');
	src: local('☺'),
	url('Roboto-Medium/Roboto-Medium.ttf') format('truetype'),
	url('Roboto-Medium/Roboto-Medium.woff') format('woff'),
	url('Roboto-Medium/Roboto-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-MediumItalic/Roboto-MediumItalic.eot');
	src: local('☺'),
	url('Roboto-MediumItalic/Roboto-MediumItalic.ttf') format('truetype'),
	url('Roboto-MediumItalic/Roboto-MediumItalic.woff') format('woff'),
	url('Roboto-MediumItalic/Roboto-MediumItalic.svg') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Thin/Roboto-Thin.eot');
	src: local('☺'),
	url('Roboto-Thin/Roboto-Thin.ttf') format('truetype'),
	url('Roboto-Thin/Roboto-Thin.woff') format('woff'),
	url('Roboto-Thin/Roboto-Thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-ThinItalic/Roboto-ThinItalic.eot');
	src: local('☺'),
	url('Roboto-ThinItalic/Roboto-ThinItalic.ttf') format('truetype'),
	url('Roboto-ThinItalic/Roboto-ThinItalic.woff') format('woff'),
	url('Roboto-ThinItalic/Roboto-ThinItalic.svg') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Bold/Roboto-Bold.eot');
	src: local('☺'),
	url('Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
	url('Roboto-Bold/Roboto-Bold.woff') format('woff'),
	url('Roboto-Bold/Roboto-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto-Black/Roboto-Black.eot');
	src: local('☺'),
	url('Roboto-Black/Roboto-Black.ttf') format('truetype'),
	url('Roboto-Black/Roboto-Black.woff') format('woff'),
	url('Roboto-Black/Roboto-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}