@font-face {
	font-family: 'BatmanOutline';
	src: url('BatmanOutline/batmfoutline.eot');
	src: local('☺'),
	url('BatmanOutline/batmfoutline.oft') format('opentype'),
	url('BatmanOutline/batmfoutline.woff') format('woff'),
	url('BatmanOutline/batmfoutline.svg') format('svg'),
	url('BatmanOutline/batmfoutline.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BatmanAlternate';
	src: url('BatmanAlternate/batmfalternate.eot');
	src: local('☺'),
	url('BatmanAlternate/batmfalternate.oft') format('opentype'),
	url('BatmanAlternate/batmfalternate.woff') format('woff'),
	url('BatmanAlternate/batmfalternate.svg') format('svg'),
	url('BatmanAlternate/batmfalternate.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}